# Enable IEx history
export ERL_AFLAGS="-kernel shell_history enabled"
#export ERL_AFLAGS="-kernel shell_history enabled inetrc '\"./erl_inetrc\"'"
export ELIXIR_ERL_OPTIONS="-start_epmd false -epmd_module Elixir.DynamicSrv.Epmd"
export SERVICE_NAME="cluster-lab"
export CONSUL_SERVICE_ADDRESS="service.devl.consul"
